body {
    font-family: Arial, sans-serif; /* Set a default font family */
    background-image: url('./imgs/dinheiro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  /* Header styles */
  .Pagina { /* Assuming you meant "header" instead of "Pagina" class */
    text-align: center; /* Center the content horizontally */
    display: flex;
    flex-direction: column;
  }

  .Pagina .nav{
    background-color: #000000;
    opacity: 0.51;
    width: 100%;
  }
  
  .Pagina h1 {
    color: #05FA00; /* Green color for the h1 element */
  }
  
  /* Button styles */
  .btn {
    display: flex; /* Arrange buttons horizontally */
    justify-content: center; /* Center buttons horizontally */
    flex-direction: column; /* Stack buttons vertically */
    margin: 0 auto; /* Center the button group horizontally */
  }
  
  .btn button {
    margin: 10px; 
    width: 100%;
    border: 3px solid #071824;
    border-radius: 5%;
  }

  .btn1{
    background-color: #1A5200;
  }

  .btn1:hover{
    cursor: pointer;
    box-shadow: 
      0px 0px 10px 5px #fff,
      0px 0px 15px 10px #1A5200,
      0px 0px 20px 7px #0ff
      ;
  }

  .btn2{
    background-color: #fff;
  }

  .btn2:hover{
    cursor: pointer;
    box-shadow: 
      0px 0px 10px 5px #fff,
      0px 0px 15px 10px #1A5200,
      0px 0px 20px 7px #0ff
      ;
  }
  
  .btn3{
    background-color: #1A5200;
  }

  .btn3:hover{
    cursor: pointer;
    box-shadow: 
      0px 0px 10px 5px #fff,
      0px 0px 15px 10px #1A5200,
      0px 0px 20px 7px #0ff
      ;
  }
  

  .btn4{
    background-color: #071824;
  }


  .btn4:hover{
    cursor: pointer;
    box-shadow: 
      0px 0px 10px 5px #fff,
      0px 0px 15px 10px #1A5200,
      0px 0px 20px 7px #0ff
      ;
  }
  

  .btn button img{
    display: block;
    width: 250px;
  }